* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgba(39, 39, 42, 1);
  height: 100%;
  width: 100%;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vh;
}
.container-body {
  padding: 1rem;
  /* background-color: rgb(70, 70, 70); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  min-width: 300px;
}
.nav-title {
  color: white;
  padding: 1rem;
  font-size: 40px;
}
.user-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  min-width: 400px;
}

input {
  border: none;
  outline: none;
  width: 80%;
  height: 40px;
  padding: 0.5rem;
  border-radius: 5px;
  color: black;
  font-size: 15px;
}
button {
  border-radius: 10px;
  padding: 10px 25px;
  background-color: orange;
  font-size: 17px;
  color: white;
  cursor: pointer;
  outline: none;
  border: none;
}

.signup-link {
  color: white;
}
a {
  color: rgb(82, 82, 228);
  text-decoration: none;
  text-align: start;
  width: 75%;
}
a:hover {
  text-decoration: underline;
}
